* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.plannerDiv{
  border-radius: 25px;
  box-shadow: 2px black;
}
#text9AM {

  border-radius: 5px;
} 

#text10AM {

  border-radius: 5px;
} 
#text11AM {

  border-radius: 5px;
} 
#text12AM {

  border-radius: 5px;
} 
#text1PM {

  border-radius: 5px;
} 
#text2PM {

  border-radius: 5px;
} 
#text3PM {

  border-radius: 5px;
} 
#text4PM {

  border-radius: 5px;
} 
#text5PM {

  border-radius: 5px;
} 

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 149px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

/* calendar container styling */
textarea p {
  -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
  -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
  box-shadow: inset 2px 2px 2px 0px #dddddd;
  }
  
  .bg-red {
      background-color: rgb(255, 1, 1);
  }

  .bg-green {
  
      background-color: rgba(8, 131, 8, 0.788);
  }
  
  .bg-gray {
      background-color: #cfdce9da;
  }

  /* 
  These rules take effect when the browser's width
    is either 767px or less. */
  
  @media screen and (max-width: 767px) {       
  
      .jumbotron{
          height: 300px;
          
      }
       p{
          font-size: smaller;
      } 
  
  }
  
  /*
    These rules take effect when the browser's width
    is either 400px or less.
  */
  @media screen and (max-width: 400px) {
  
      .jumbotron{
          height: 300px;
          
      }
     
      .hourC{
          margin-right: 0px;
  
      }
      
      .spanBttn{
          border-radius: 25px;
      }
     
  }